.cont {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 30rem;
    border-radius: 0.75rem;
}

button {
    padding: 1rem 1.5rem;
    border-radius: 0.35rem;
}