* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

#root {
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}